[submodule "monero-feather-bin/monero-feather-bin"]
	path = monero-feather-bin/monero-feather-bin
	url = ssh://aur@aur.archlinux.org/monero-feather-bin.git
[submodule "featherwallet-appimage/featherwallet-appimage"]
	path = featherwallet-appimage/featherwallet-appimage
	url = ssh://aur@aur.archlinux.org/featherwallet-appimage.git
